@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: theme('fontFamily.display');
  background-color: #050508;
  color: #e5e7eb;
}

